<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - CSLAIER</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cslaier.css') }}">
    <style>
        table{
            width:100%
        }
        td{
            text-aligh:right
        }
    </style>
</head>
<body>
    {% include 'common/header.html' %}
    {% block main_content %}{% endblock %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/underscore.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/moment.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/cslaier.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>