{% macro inspection_component(model, usable_epochs) %}
{% if usable_epochs %}
<div>
    <div id="model_detail_buttons">
        <div class="form-group">
            <label for="epoch_select" describedby="epoch_select">Epoch</label>
            <select name="epoch_select" id="epoch_select" class="form-control">
                {% for epoch in usable_epochs %}
                    <option value="{{epoch}}" {% if loop.first %}selected{% endif %}>{{epoch}}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-cyber btn-block need-epoch" id="trained_model_download"> Download Trained Files</button>
        {% if model.type == 'image' %}
            <button class="btn btn-cyber btn-block need-epoch" data-toggle="modal" data-target="#inspection_modal">Inspect</button>
        {% elif model.type == 'text' %}
            <button class="btn btn-cyber btn-block need-epoch" data-toggle="modal" data-target="#prediction_modal">Prediction</button>
        {% endif %}
    </div>
</div>
{% endif %}
{% endmacro %}
