*.pyc
deepstation.db
cslaier.db
uploaded_files/*
uploaded_raw_files/*
train_images/*
inspection_temp/*
trained_data/*
prepared_data/*
temp/*
logs/*
src/models/*.py
.python-version
!models/__init__.py
!.gitkeep