% rebase('base.html', title='index')
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <img src="/statics/img/logo.png" alt="">
            </a>
        </div>
        <div class="navbar-right">
            <a href="#" class="navbar-brand">
                <img src="/statics/img/arc.png">
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <h2>Error Occurred</h2>
    <pre>
        {{detail}}
    </pre>
</div>