% rebase('base.html', title='index')
<div id="index" class="hidden">true</div>
<div id="gpu_meter_needed" class="hidden">true</div>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <img src="/statics/img/logo.png" alt="">
            </a>
        </div>
        <div class="navbar-right">
            <a href="#" class="navbar-brand">
                <img src="/statics/img/arc.png">
            </a>
        </div>
    </div>
</nav>
<div class="container" id="main">
    <div class="row">
        <div class="col-md-9">
            <div class="subtitle">
                <h2>Dataset</h2>
                <div class="button_div right">
                    <a href="#">
                        <button class="btn btn-cyber" id="btn_new_dataset" data-toggle="modal" data-target="#upload_modal"><span class="glyphicon glyphicon-plus"></span>New</button>
                    </a>    
                </div>
            </div>
            <div class="datasets">
                % if len(datasets)>3:
                % for dataset in datasets[:3]:
                    % if dataset["dataset_type"] == "image":
                        <div class="dataset image" id="dataset_{{dataset['id']}}" data-id="{{dataset['id']}}">
                            <h3>
                                {{dataset["name"]}}
                            </h3>
                            <span class="desc">Total {{dataset["category_num"]}} Classes, {{dataset["file_num"]}} Images</span>
                            % for img in dataset['thumbnails']:
                                <img src="/uploaded_images{{img}}" class="img-responsive img-rounded thumbnail-30">
                            % end
                        </div>
                    % elif dataset["dataset_type"] == "text":
                        <div class="dataset text" id="dataset_{{dataset['id']}}" data-id="{{dataset['id']}}">
                            <h3>
                                {{dataset["name"]}}
                            </h3>
                            <span class="desc">{{dataset["file_num"]}} Text Files</span>
                            <div class="sample_text">
                                % for t in dataset["sample_text"]:
                                    {{t}}
                                % end
                            </div>
                        </div>
                    % end
                % end
                   <button class="btn btn-cyber" id="dataset_more" >more</button>
                   <div  class="datasets" id="hidden-dataset" style="display:none">
                % for dataset in datasets[3:]:
                    % if dataset["dataset_type"] == "image":
                        <div class="dataset image" id="dataset_{{dataset['id']}}" data-id="{{dataset['id']}}">
                            <h3>
                                {{dataset["name"]}}
                            </h3>
                            <span class="desc">Total {{dataset["category_num"]}} Classes, {{dataset["file_num"]}} Images</span>
                            % for img in dataset['thumbnails']:
                                <img src="/uploaded_images{{img}}" class="img-responsive img-rounded thumbnail-30">
                            % end
                        </div>
                    % elif dataset["dataset_type"] == "text":
                        <div class="dataset text" id="dataset_{{dataset['id']}}" data-id="{{dataset['id']}}">
                            <h3>
                                {{dataset["name"]}}
                            </h3>
                            <span class="desc">{{dataset["file_num"]}} Text Files</span>
                            <div class="sample_text">
                                % for t in dataset["sample_text"]:
                                    {{t}}
                                % end
                            </div>
                        </div>
                    % end
                % end
                    </div>
                % else:
                    % for dataset in datasets:
                        % if dataset["dataset_type"] == "image":
                            <div class="dataset image" id="dataset_{{dataset['id']}}" data-id="{{dataset['id']}}">
                                <h3>
                                    {{dataset["name"]}}
                                </h3>
                                <span class="desc">Total {{dataset["category_num"]}} Classes, {{dataset["file_num"]}} Images</span>
                                % for img in dataset['thumbnails']:
                                    <img src="/uploaded_images{{img}}" class="img-responsive img-rounded thumbnail-30">
                                % end
                            </div>
                        % elif dataset["dataset_type"] == "text":
                            <div class="dataset text" id="dataset_{{dataset['id']}}" data-id="{{dataset['id']}}">
                                <h3>
                                    {{dataset["name"]}}
                                </h3>
                                <span class="desc">{{dataset["file_num"]}} Text Files</span>
                                <div class="sample_text">
                                    % for t in dataset["sample_text"]:
                                        {{t}}
                                    % end
                                </div>
                            </div>
                        % end
                    % end
                % end
            </div>
            <div class="subtitle">
                <h2>Models</h2>
                <div class="button_div right">
                    <a href="/models/new">
                        <button class="btn btn-cyber" id="btn_new_model"><span class="glyphicon glyphicon-plus"></span>New</button>
                    </a>    
                </div>
            </div>
            <div class="models">
                % for model in models:
                    % if model[3] == 1:
                    <div class="model model-progress" id="model_{{model[0]}}" data-modelid="{{model[0]}}">
                    % elif model[3] == 2:
                    <div class="model" id="model_{{model[0]}}" data-modelid="{{model[0]}}">
                    % else:
                    <div class="model model-nottrained" id="model_{{model[0]}}" data-modelid="{{model[0]}}">
                    % end
                        <h3>{{model[1]}}
                            <div class="progress-info">
                            % if model[3] == 1:
                                <span class="label label-progress">In Progress</span>
                            % elif model[3] == 2:
                                <span class="label label-trained">Trained</span>
                            % else:
                                <span class="label label-nottrained">Not Trained</span>
                            % end
                            </div>
                        </h3>
                        <ul>
                            <li>Date: {{model[4]}}</li>
                            <li>Epoch: {{model[2]}}</li>
                            <li>
                                % if model[6] == 'image':
                                    Image Classification
                                % elif model[6] == 'text':
                                    Natural Language Processing
                                % end
                            </li>
                            <li>Dataset: 
                                % if model[7]:
                                    {{model[7]}}
                                % else:
                                    ---
                                % end
                            </li>
                            <li>Network: 
                                % if model[5]:
                                    {{model[5]}}
                                % else:
                                    ---
                                % end
                            </li>
                        </ul>
                    </div>
                % end
            </div>
			<table width=100%>
			% for row in system_info:
			<tr>
				% for col in row:
				<td style="text-align:right">{{col}}</td>
				% end
			</tr>
			% end
			</table>
        </div>
        <div class="col-md-3">
            <table border="0">
                <tr>
                    <th>DEEPstation Version:</th>
                    <td>{{deepstation_version}}</td>
                </tr>
                <tr>
                    <th>Graphic Board Driver Version:</th>
                    <td>
                        % if 'driver_version' in gpu_info:
                            {{gpu_info['driver_version']}}
                        % else:
                            ---
                        % end
                    </td>
                </tr>
                <tr>
                    <th>Chainer Version:</th>
                    <td>{{chainer_version}}</td>
                </tr>
                <tr>
                    <th>Python Version:</th>
                    <td>{{python_version}}</td>
                </tr>
            </table>
            % if 'error' in gpu_info:
                    <div class="gpu error" >
                        <p>GPU Info Not Available</p>
                    </div>
            % else:
                % for g in gpu_info['gpus']:
                    <div class="gpu" id="{{g['uuid']}}">
                        <h4>{{g['minor_number']}}:{{g['product_name']}}</h4>
                        <table class="gpu_table">
                            <tr><th>UUID</th><td>{{g['uuid']}}</td></tr>
                            <tr><th>FAN</th><td>{{g['fan']}}</td></tr>
                            <tr><th>Temp</th><td>{{g['temperature']}}</td></tr>
                            <tr><th>Power</th><td>{{g['power_draw']}} / {{g['power_limit']}}</td></tr>
                            <tr><th>Memory</th><td>{{g['memory_used']}} / {{g['memory_total']}}</td></tr>
                        </table>
                    </div>
                % end
            % end
        </div>
    </div>
</div>


<!-- ## modals ############################################################## -->

<div class="modal fade" id="upload_modal" tabindex="-1" role="dialog" aria-labelledby="upload_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="upload_modal_title">Dataset Upload</h4>
            </div>
            <div class="modal-body">
                <div id="uploadDataset">
                    <div class="form-group">
                        <label>Dataset Type</label><br>
                        <label for="dataset_type_image" class="radio-inline">
                            <input type="radio" id="dataset_type_image" name="dataset_type" value="image" checked> Images
                        </label>
                        <label for="dataset_type_text" class="radio-inline">
                            <input type="radio" id="dataset_type_text" name="dataset_type" value="text"> Texts
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="dataset_name_input">Dataset Name</label>
                        <input type="text" class="form-control" id="dataset_name_input" name="dataset_name" placeholder="input dataset name">
                    </div>
                    <div>
                        <h4>Select how to indicate dataset</h4>
                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="select_how_to_indicate_dataset" value="upload"> Upload Dataset<br>
                            </label>
                        </div>
                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="select_how_to_indicate_dataset" value="set_path"> Set Dataset Path
                            </label>
                        </div>
                    </div>
                    <div class="form-group hidden" id="upload_dataset">
                        <input type="file" id="fileInput" name="fileInput">
                        <p class="help-block">Select data set file which is compressed by zip.</p>
                    </div>
                    <div class="form-group hidden" id="set_dataset_path_div">
                        <label for="set_dataset_path_input">Set dataset path on DEEPstation</label>
                        <input type="text" id="set_dataset_path_input" class="form-control" name="dataset_path">
                        <p class="help-block">Input dataset path on DEEPstation</p>
                    </div>
                    <button type="submit" class="btn btn-cyber disabled" id="submit_dataset">Submit</button>
                    <button type="cancel" class="btn btn-cyber" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="uploading_progress_div" class="hidden">
    <div class="progress-wrap">
        <h4>Uploading Dataset <small id="progress_rate"></small></h4>
        <div class="progress">
            <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
        </div>    
    </div>
</div>

<script>
    var gpus = [
    % if gpu_info.has_key('gpus'):
        % for i,g in enumerate(gpu_info['gpus']):
            {
                "minor_number": "{{g['minor_number']}}",
                "product_name": "{{g['product_name']}}",
                "uuid": "{{g['uuid']}}",
                "fan": "{{g['fan']}}",
                "temperature": "{{g['temperature']}}",
                "power_draw": "{{g['power_draw']}}",
                "power_limit": "{{g['power_limit']}}",
                "memory_used": "{{g['memory_used']}}",
                "memory_total": "{{g['memory_total']}}"
            }
            % if i is not (len(gpu_info['gpus']) - 1):
            ,
            % end
        % end
    % end
    ];
</script>


