% rebase('base.html', title='new model')
<div class="hidden" id="model_detail">true</div>
<div class="hidden" id="gpu_meter_needed">true</div>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <img src="/statics/img/logo.png" alt="">
            </a>
        </div>
        <div class="navbar-right">
            <a href="#" class="navbar-brand">
                <img src="/statics/img/arc.png">
            </a>
        </div>
    </div>
</nav>

<input type="hidden" id="model_id" value="{{model_info['id']}}">
<div class="container">
    <div class="row full-height">
        <div class="col-md-9 full-height">
            <h2>
                Model: {{model_info["name"]}}
            </h2>
            <div class="model-sub-header">
                <div id="progress-label">
                    % if model_info["is_trained"] == 0:
                        <span class="label label-nottrained"> Not Trained</span>
                    % elif model_info["is_trained"] == 1:
                        <span class="label label-progress"> In Progress</span>
                    % else:
                        <span class="label label-trained"> Trained</span>
                    % end
                </div>
                <div class="model-delete-div">
                    <button class="btn btn-cyber" id="delete_model_button">Delete</button>
                </div>
            </div>
            <div style="clear:both;height:5px;"></div>
            <div class="row full-height">
                <div class="col-md-4">
                    <div>
                        <ul>
                            <li>Date: {{model_info["created_at"]}}</li>
                            <li>Epoch: {{model_info["epoch"]}}</li>
                            <li data-datasetid="{{model_info['dataset_id']}}">Dataset: {{model_info["dataset_name"]}}</li>
                            <li>Network: 
                                % if model_info['network_name']:
                                    {{model_info['network_name']}}
                                % else:
                                    ---
                                % end
                            </li>
                        </ul>
                    </div>
                    <div>
                        <div id="start_train_div">
                            % if model_info['is_trained'] is not 1:
                                <button class="btn btn-cyber btn-block" data-toggle="modal" data-target="#start_train_modal">Start Train</button>
                            % end
                        </div>
                        % if model_info['is_trained'] is 2:
                            <div id="model_detail_buttons">
                                <div class="form-group">
                                    <label for="epoch_select" describedby="epoch_select">Epoch (1 〜 {{model_info['epoch']}})</label>
                                    <input id="epoch_select" type="number" min="1" max="{{model_info['epoch']}}" class="form-control" value="{{model_info['epoch']}}">
                                </div>
                                <button class="btn btn-cyber btn-block need-epoch" id="model_dl_btn">Download Model</button>
                                <button class="btn btn-cyber btn-block need-epoch" id="label_dl_btn">Download Label</button>
                                <button class="btn btn-cyber btn-block need-epoch" id="mean_dl_btn">Download Mean File</button>
                                <button class="btn btn-cyber btn-block need-epoch" data-toggle="modal" data-target="#inspection_modal">Inspect</button>
                            </div>
                        % end
                    </div>
                </div>
                <div class="col-md-8 full-height">
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="" id="log_tab"><a href="#">Log</a></li>
                        <li role="presentation" class="" id="graph_tab"><a href="#">Result</a></li>
                        <li role="presentation" class="active" id="network_tab"><a href="#">Network</a></li>
                        % if model_info['is_trained'] is 2:
                            <li role="presentation" class="" id="layer_tab"><a href="#">Layers</a></li>
                        % else:
                            <li role="presentation" class="disabled" id="layer_tab"><a href="#">Layers</a></li>
                        % end
                    </ul>
                    <div id="model_detail_log" class="hidden full-height">
                        <div class="form-group has-textarea" >
                            <pre id="training_log"></pre>
                        </div>
                    </div>
                    <div id="model_detail_graph" class="hidden">
                        <p id="training_graph">Graph Not Ready</p>
                    </div>
                    <div id="model_detail_network" class="full-height">
                        <div class="form-group has-textarea">
                            % if model_info['is_trained'] is 1:
                                <pre id="network_edit_area">{{model_txt}}</pre>
                            % else:
                                <textarea class="form-control" id="network_edit_area">{{model_txt}}</textarea>
                            % end
                        </div>
                        <div class="form-group hidden" id="create_network_buttons">
                            % if model_info['is_trained'] is not 1:
                                <button class="btn btn-cyber" data-toggle="modal" data-target="#create_new_network_modal">Create</button>
                                <button class="btn btn-cyber" id="model_edit_cancel">Cancel</button>
                            % end
                        </div>
                    </div>
                    <div id="model_detail_layers" class="hidden">
                        <p id="layers_not_ready">Generating Layer Image</p>
                        <div id="layer_images" class="hidden">
                            <div>
                                <h4>Epoch 0</h4>
                                <img src="" alt="" class="img-responsive" id="layer_epoch0">
                            </div>
                            <div>
                                <h4 id="last_epoch_title">Last Epoch</h4>
                                <img src="" alt="" class="img-responsive" id="layer_last_epoch">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <table border="0">
                <tr>
                    <th>Graphic Board Driver Version:</th>
                    <td>
                        % if 'driver_version' in gpu_info:
                            {{gpu_info['driver_version']}}
                        % else:
                            ---
                        % end
                    </td>
                </tr>
                <tr>
                    <th>Chainer Version:</th>
                    <td>{{chainer_version}}</td>
                </tr>
                <tr>
                    <th>Python Version:</th>
                    <td>{{python_version}}</td>
                </tr>
            </table>
            % if 'error' in gpu_info:
                    <div class="gpu error" >
                        <p>GPU Info Not Available</p>
                    </div>
            % else:
                % for g in gpu_info['gpus']:
                    <div class="gpu" id="{{g['uuid']}}">
                        <h4>{{g['minor_number']}}:{{g['product_name']}}</h4>
                        <table class="gpu_table">
                            <tr><th>UUID</th><td>{{g['uuid']}}</td></tr>
                            <tr><th>FAN</th><td>{{g['fan']}}</td></tr>
                            <tr><th>Temp</th><td>{{g['temperature']}}</td></tr>
                            <tr><th>Power</th><td>{{g['power_draw']}} / {{g['power_limit']}}</td></tr>
                            <tr><th>Memory</th><td>{{g['memory_used']}} / {{g['memory_total']}}</td></tr>
                        </table>
                    </div>
                % end
            % end
        </div>
    </div>
</div>


<div class="modal fade" id="start_train_modal" tabindex="-1" role="dialog" aria-labelledby="start_train_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="start_train_modal_title">Start Train</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="select_dataset">Select Dataset.</label>
                    <select class="form-control" id="select_dataset">
                        <option value="-1"></option>
                        % for ds in datasets:
                            <option value="{{ds[0]}}">{{ds[1]}}</option>
                        % end
                    </select>
                </div>
                <div class="form-group">
                    <label for="select_pretrainedmodel">Select Pretrained Model.</label>
                    <select class="form-control" id="select_pretrainedmodel">
                        <option value="-1"></option>
                        % for pretrained_model in pretrained_models:
                            <option value="{{pretrained_model}}">{{pretrained_model}}</option>
                        % end
                    </select>
                </div>
                <div class="form-group">
                    <label for="epoch_input" class="label-control">Input Epoch count.</label>
                    <input id="epoch_input" type="number" value="1" min="1" class="form-control" name="epoch">
                </div>
                % if int(model_info['gpu_num']) is 0:
                    <input type="hidden" id="gpu_num" name="gpu_num" value="-1">
                % else:
                    <div class="form-group">
                        <label for="gpu_num" class="label-control">Select GPU to compute.</label>
                        % for i in range(0, model_info['gpu_num']):
                            <label class="checkbox-inline">
                                % if i is 0:
                                    <input type="radio" name="gpu_num" value="{{i}}" checked> {{i}}
                                % else:
                                    <input type="radio" name="gpu_num" value="{{i}}"> {{i}}
                                % end
                            </label>
                        % end
                    </div>
                % end
                <button type="button" id="start_train_btn" class="btn btn-cyber">Start</button>
                <button type="cancel" class="btn btn-cyber" data-dismiss="modal">Calcel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="inspection_modal" tabindex="-1" role="dialog" aria-labelledby="inspection_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="inspection_modal_title">Inspection <small><span id="epoch_on_modal_title"></span></small></h4>
            </div>
            <div class="modal-body">
                <form action="/inspection/upload" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" id="inspection_fileInput" name="fileInput">
                        <p class="help-block">Select image(.jpg) which you want to inspect.</p>
                    </div>
                    <input type="hidden" name="epoch" id="epoch_on_modal" value="{{model_info['epoch']}}">
                    <input type="hidden" name="model_id" value="{{model_info['id']}}">
                    <button type="submit" class="btn btn-cyber">Submit</button>
                    <button type="cancel" class="btn btn-cyber" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="create_new_network_modal" tabindex="-1" role="dialog" aria-labelledby="create_new_network_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create New Network </h4>
            </div>
            <div class="modal-body">
                <form action="/models/create" method="POST" id="create_new_network_modal_form">
                    <input type="hidden" name="my_network" id="modal_create_network_my_network">
                    <div class="form-group">
                        <label for="">Name</label>
                        <input type="text" class="form-control" id="modal_create_network_name" name="model_name">
                    </div>
                    <div class="form-group">
                        <label for="">Network</label>
                        % if model_info['network_name']:
                            <input type="text" name="network_type" id="modal_create_network_network" class="form-control" value="{{model_info['network_name']}}">
                        % else:
                            <input type="text" name="network_type" id="modal_create_network_network" class="form-control" value="">
                        % end
                    </div>
                    <div class="form-group">
                        <button class="btn btn-cyber" id="modal_create_network_btn" type="submit">Create</button>
                        <button class="btn btn-cyber" id="model_edit_cancel" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="processing_screen" class="hidden">
    <div class="progress-wrap">
        <h4>Processing...</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only">Processing Data...</span>
            </div>
        </div>
    </div>
</div>

<pre class="hidden" id="original_network">
    {{model_txt}}
</pre>

<input type="hidden" id="original_name" value="{{model_info['name']}}">

<script>
    var gpus = [
    % if 'gpus' in gpu_info:
        % for i,g in enumerate(gpu_info['gpus']):
            {
                "minor_number": "{{g['minor_number']}}",
                "product_name": "{{g['product_name']}}",
                "uuid": "{{g['uuid']}}",
                "fan": "{{g['fan']}}",
                "temperature": "{{g['temperature']}}",
                "power_draw": "{{g['power_draw']}}",
                "power_limit": "{{g['power_limit']}}",
                "memory_used": "{{g['memory_used']}}",
                "memory_total": "{{g['memory_total']}}"
            }
            % if i is not (len(gpu_info['gpus']) - 1):
            ,
            % end
        % end
    % end
    ];
</script>
