% rebase('base.html', title='new model')
<div class="hidden" id="new_model">true</div>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <img src="/statics/img/logo.png" alt="">
            </a>
        </div>
        <div class="navbar-right">
            <a href="#" class="navbar-brand">
                <img src="/statics/img/arc.png" height="40px">
            </a>
        </div>
    </div>
</nav>

<div class="container" id="main">
    <h2>create new model</h2>
    <div class="raw" style="height:100%">
        <form action="/models/create" id="create_model_form" method="POST">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="" class="control-label">Choose Network Template</label>
                    <select name="model_template" id="model_template_list" class="form-control">
                        <option value=""></option>
                        % for t in templates:
                            <option value="{{t}}">{{t}}</option>
                        % end
                    </select>
                </div>
                <div class="form-group">
                    <label for="model_name_input" class="control-label">Model Name</label>
                    <input type="text" name="model_name" class="form-control" id="model_name_input">
                </div>
                <div class="form-group">
                    <label for="network_name_input" class="control-label">Network</label>
                    <input type="text" name="network_type" class="form-control" id="network_name_input">
                </div>
            </div>
            <div class="col-md-8" style="height:100%;">
                <div class="form-group" id="network_edit_area_div">
                    <p class="helptext right">
                        <a href="http://docs.chainer.org/en/v1.5.0.3/" target="_blank">Chainer Reference</a>
                    </p>
                    <textarea class="form-control" name="my_network" id="network_edit_area"></textarea>
                </div>
                <div class="form-group" id="create_model_div_buttons">
                    <button type="submit" class="btn btn-cyber">Create</button>
                    <butotn type="reset" class="btn btn-cyber" id="create_model_reset">Cancel</butotn>
                </div>
            </div>
        </form>
    </div>
</div>
