{% extends 'common/base.html' %}
{% block title %}Create New Model{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CodeMirror/lib/codemirror.css')}}">
{% endblock %}
{% block main_content %}

<div class="container" id="main">
    <h2>create new model</h2>
    <div class="raw" style="height:100%">
        <form action="/models/new" id="create_model_form" method="POST">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="" class="control-label">Choose Network Template</label>
                    <select name="model_template" id="model_template_list" class="form-control">
                        <option value=""></option>
                        {% for t in templates %}
                            <option value="{{t}}">{{t}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Framework</label>
                    <div>
                        <label for="framework_chainer">
                            <input type="radio", name="framework" id="framework_chainer" value="chainer"> chainer
                        </label>
                        <label for="framework_tensorflow">
                            <input type="radio", name="framework" id="framework_tensorflow" value="tensorflow"> tensorflow
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label>Training Type</label>
                    <div>
                        <label for="model_type_image">
                            <input type="radio" name="model_type" id="model_type_image" value="image"> Image Classification
                        </label>
                        <label for="model_type_text">
                            <input type="radio" name="model_type" id="model_type_text" value="text"> Natural Language Processing
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="model_name_input" class="control-label">Model Name</label>
                    <input type="text" name="model_name" class="form-control" id="model_name_input">
                </div>
                <div class="form-group">
                    <label for="network_name_input" class="control-label">Network</label>
                    <input type="text" name="network_type" class="form-control" id="network_name_input">
                </div>
            </div>
            <div class="col-md-8" style="height:100%;">
                <div class="form-group" id="network_edit_area_div">
                    <p class="helptext right">
                        <a href="http://docs.chainer.org/en/v1.5.0.3/" target="_blank">Chainer Reference</a>
                    </p>
                    <textarea class="form-control" name="my_network" id="network_edit_area"></textarea>
                </div>
                <div class="form-group" id="create_model_div_buttons">
                    <button type="submit" class="btn btn-cyber">Create</button>
                    <butotn type="reset" class="btn btn-cyber" id="create_model_reset">Cancel</butotn>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='CodeMirror/lib/codemirror.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='CodeMirror/mode/python/python.js') }}"></script>
    <script type="text/javascript">
        $(function(){
            createEditor();
        })
    </script>
{% endblock %}